
CREATE OR REPLACE FUNCTION verify_chat_access(p_task_id UUID, p_user_id UUID)
RETURNS BOOLEAN
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
  v_is_authorized BOOLEAN;
BEGIN
  SELECT EXISTS (
    SELECT 1 
    FROM tasks t
    LEFT JOIN task_assignments ta ON t.id = ta.task_id
    WHERE t.id = p_task_id
    AND (
      t.poster_id = p_user_id OR 
      ta.bondhu_id = p_user_id
    )
  ) INTO v_is_authorized;

  RETURN v_is_authorized;
END;
$$;
